.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}


.buttons {
  background-color: rgba(187, 93, 93, 0.404);
  display: inline;
  border-radius: 15px;
  padding: 5px;
  color: rgb(190, 41, 41);
  font-weight: 700;
  font-size: larger;
  margin: 3px;
}

/* Global Toast Override */
.Toastify__toast-container {
  z-index: 10000 !important;
  top: 85px !important;
  /* Push down below navbar */
}

.Toastify__toast {
  z-index: 10001 !important;
}

/* Fix mobile nav height if needed */
@media (max-width: 768px) {
  .Toastify__toast-container {
    top: 70px !important;
  }
}